<%= form_with(model: rule) do |form| %>
  <% if rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rule.errors.count, "error") %> prohibited this rule from being saved:</h2>
      <ul>
        <% rule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div class="field">
    <%= form.label :background %>
    <%= form.text_area :background %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= form.label :ended_at %>
    <%= form.datetime_select :ended_at %>
  </div>

  <div class="field">
    <%= form.label :team_name_id, "チーム名" %>
    <%= form.collection_select :team_name_id, TeamName.all, :id, :name, prompt: "チームを選択" %>
  </div>

  <div class="actions">
    <%= form.submit "ルールを追加" %>
  </div>
<% end %>